[Desktop Entry]
Type=Application
Name=Northstar
GenericName=Screenwriting
Comment=Write screenplays in standard format, stored as markdown
Exec=northstar
Icon=northstar
Terminal=false
Categories=Office;WordProcessor;AudioVideo;
Keywords=screenplay;script;screenwriting;film;markdown;
StartupNotify=true
StartupWMClass=northstar
